
  .about-img{
    margin-left: -100px;
    right: -60px;
   }
   
   .display-1{
     font-size: 160px;
     font-weight: 1000;
   
   }
   
   .position-absolute{
     font-weight: 700;
   
   }
   
   .typed-cursor {
     font-size: 45px;
     color: #ffffff;
   }
   
   .blue{
     background-color: #1c5ce6;
     color: #ffffff;
   }
   .btn{
     border: 2px solid rgb(29, 105, 247);
   } 
   .btn-white{
     background-color: #ffffff;
     border:2px solid #ffffff;
   }
   .btn-blue{
     border: 2.4px solid #ffffff;
     color: #ffffff;
   }
   @media (max-width: 700px) {
     .about-img{
       margin-left: 20px;
       right: 0px;
       top: 30px;
      }
   }
   .progress {
    border-radius: 10px;
  }
  
  .progress .progress-bar {
    width: 0px;
    border-radius: 10px;
    transition: 2s;
  }
  
  .contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  .bar .progress-line span {
    position: absolute;
    background: #25b79f;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 85%;
  }
  .progress-line .css {
    width: 80%;
  }
  .progress-line .python {
    width: 70%;
  }
  .progress-line .github {
    width: 60%;
  }
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  .progress-line .html::after {
    content: "85%";
  }
  .progress-line .css::after {
    content: "80%";
  }
  .progress-line .python::after {
    content: "70%";
  }
  .progress-line .github::after {
    content: "60%";
  }